Django~=5.2.7
assemblyai==0.45.4
psycopg2-binary==2.9.9
python-decouple==3.8
whitenoise==6.11.0
dj_database_url==3.0.1
openai
boto3==1.35.0
pydub==0.25.1
numpy==1.24.3
scipy==1.10.1
noisereduce==3.0.0
pyloudnorm==0.1.1
gunicorn==23.0.0